<h1>Demo#index</h1>
<p>Hello From the Hello PAge!!!</p>
<% carlitos= 1+1 %>
<%= carlitos%><br />
<% @array.each do |n| %>
Number <%= n %><br />
<%end%>


<p>Your ID is <%= @id%></p>
<br>
<p>This page is: <%= @page %></p>
<br>
<p>Next page is:  <%= @page + 1 %></p>
<hr>
<%= params.inspect %>